/* 思源宋体 - Source Han Serif SC */
@font-face {
    font-family: 'Source Han Serif SC';
    src: url('../fonts/SourceHanSerifSC-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Han Serif SC';
    src: url('../fonts/SourceHanSerifSC-SemiBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Source Han Serif SC';
    src: url('../fonts/SourceHanSerifSC-Bold.otf') format('opentype');
    font-weight: 700;
}

/* 思源黑体 - Source Han Sans SC */
@font-face {
    font-family: 'Source Han Sans SC';
    src: url('../fonts/SourceHanSansSC-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('../fonts/SourceHanSansSC-Normal.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Source Han Sans SC';
    src: url('../fonts/SourceHanSansSC-Bold.otf') format('opentype');
    font-weight: 700;
}

/* Bembo */
@font-face {
    font-family: 'Bembo';
    src: url('../fonts/Bembo标准(BemboStd)_爱给网_aigei_com.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Bembo';
    src: url('../fonts/Bembo粗体(Bembo-Bold)_爱给网_aigei_com.otf') format('opentype');
    font-weight: 700;
}

/* Gotham */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light-ca7739fa9c72.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic-3f3388c6c0dc.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold-2d9c4008ed97.otf') format('opentype');
    font-weight: 700;
}
